<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>


    <title>Dashboard | INEGI</title>
</head>

<body>

    <div class="dashboard-container">
        <div class="sidebar">
            <img src="/images/inegi.jpg" alt="">
            <h1>Censo INEGI</h1>
            <h2>Registro</h2>
            <nav>
                <ul>
                    <li><a href="menu">Home</a></li>
                    <li><a href="viviendas">Viviendas</a></li>
                    <li><a href="habitantes">Habitantes</a></li>
                    <li><a href='dashboard'>Dashboard</a></li>
                    <li id="Logout"><a href='/logout'>Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h1>Dashboard</h1>
            <br>
            <!-- Viviendas -->
            <h2>Reporte de viviendas</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID_Viviendas</th>
                        <th>Atributos de Vivienda</th>
                        <th>Cantidad de Personas</th>
                        <th>Tipo de Vivienda</th>
                        <th>Dedicación</th>
                        <th>Municipio</th>
                        <th>Dirección</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% records.forEach(function(record) { %>
                        <tr>
                            <td>
                                <%= record.ID_Viviendas %>
                            </td>
                            <td>
                                <%= record.AtributosVivienda %>
                            </td>
                            <td>
                                <%= record.CantidadPersonas %>
                            </td>
                            <td>
                                <%= record.TipoVivienda %>
                            </td>
                            <td>
                                <%= record.Dedicacion %>
                            </td>
                            <td>
                                <%= record.Municipio %>
                            </td>
                            <td>
                                <%= record.Direccion %>
                            </td>
                            <td>
                                <a href="/viviendas/edit/<%= record.ID_Viviendas %>"><i
                                        class="fa-solid fa-pen-to-square fa-xl" id="option"></i></a>
                                <a href="/viviendas/delete/<%= record.ID_Viviendas %>"
                                    onclick="return confirm('Are you sure you want to delete this record?');"><i
                                        class="fa-solid fa-square-xmark fa-xl" id="option"></i></a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <br>
            <br>

            <!-- Chart Vivienda -->
            <h2>Cantidad de personas por tipo de vivienda</h2>
            <div class="border1">
                <canvas id="viviendaChart" width="50" height="20"></canvas>
                <script>
                    $(document).ready(function () {
                        const ctx = document.getElementById('viviendaChart').getContext('2d');
                        const myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [], // Will be populated by AJAX
                                datasets: [{
                                    label: 'Número de personas',
                                    data: [], // Will be populated by AJAX
                                    backgroundColor: ['rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(255, 99, 132, 0.2)',
                                    ],
                                }]
                            },
                            options: {
                                maintainAspectRatio: true,
                                responsive: true,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });

                        // Function to update chart data
                        function updateChartData(chart, data) {
                            chart.data.labels = data.map(item => item.TipoVivienda);
                            chart.data.datasets.forEach((dataset) => {
                                dataset.data = data.map(item => item.TotalPersonas);
                            });
                            chart.update();
                        }

                        // Fetch data from the server and update chart periodically
                        function fetchData() {
                            $.ajax({
                                url: '/data/cantVivienda',
                                type: 'GET',
                                dataType: 'json',
                                success: function (data) {
                                    updateChartData(myChart, data);
                                }
                            });
                        }

                        // Fetch data every 5 minutes (300000 milliseconds)
                        setInterval(fetchData, 300000);
                        fetchData(); // Also fetch data on page load
                    });
                </script>
            </div>
            <br>
            <br>

            <!-- Chart Municipio -->
            <h2>Cantidad de personas por municipio</h2>
            <div class="border1">
                <canvas id="municipioChart" width="50" height="20"></canvas>
                <script>
                    // ... previous setup code and housing chart initialization

                    $(document).ready(function () {
                        // Initialize a second chart for Municipio data
                        const ctxMunicipio = document.getElementById('municipioChart').getContext('2d');
                        const municipioChart = new Chart(ctxMunicipio, {
                            type: 'bar',
                            data: {
                                labels: [], // Will be populated by AJAX
                                datasets: [{
                                    label: 'Cantidad de Personas',
                                    data: [], // Will be populated by AJAX
                                    backgroundColor: ['rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(255, 99, 132, 0.2)',
                                    ],
                                    // ... other settings
                                }]
                            },
                            options: {
                                maintainAspectRatio: true,
                                responsive: true,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });

                        // Function to update Municipio chart data
                        function updateMunicipioChartData(chart, data) {
                            chart.data.labels = data.map(item => item.Municipio);
                            chart.data.datasets.forEach((dataset) => {
                                dataset.data = data.map(item => item.PersonasMun);
                            });
                            chart.update();
                        }

                        // Fetch Municipio data from the server and update chart periodically
                        function fetchMunicipioData() {
                            $.ajax({
                                url: '/data/cantMunicipio',
                                type: 'GET',
                                dataType: 'json',
                                success: function (data) {
                                    updateMunicipioChartData(municipioChart, data);
                                }
                            });
                        }

                        // Fetch Municipio data every 5 minutes
                        setInterval(fetchMunicipioData, 300000);
                        fetchMunicipioData(); // Fetch data for both charts on page load

                    });

                </script>
            </div>
            <br>
            <br>

            <!-- Habitantes -->
            <h2>Reporte de Habitantes</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID_Habitantes</th>
                        <th>Nombre de habitante</th>
                        <th>Edad de habitante</th>
                        <th>Género de habitante</th>
                    </tr>
                </thead>
                <tbody>
                    <% anotherRecords.forEach(function(record) { %>
                        <tr>
                            <td>
                                <%= record.ID_Habitante %>
                            </td>
                            <td>
                                <%= record.Nombre %>
                            </td>
                            <td>
                                <%= record.Edad %>
                            </td>
                            <td>
                                <%= record.Genero %>
                            </td>
                            <td>
                                <a href="/habitantes/edit/<%= record.ID_Habitante %>"><i
                                        class="fa-solid fa-pen-to-square fa-xl" id="option"></i></a>
                                <a href="/habitantes/delete/<%= record.ID_Habitante %>"
                                    onclick="return confirm('Are you sure you want to delete this record?');"><i
                                        class="fa-solid fa-square-xmark fa-xl" id="option"></i></a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <br>
            <br>

            <!-- Municipio -->
            <h2>Cátalogo de Municipios</h2>
            <table id="Municipio">
                <thead>
                    <tr>
                        <th>ID_Municipio</th>
                        <th>Nombre de Municipio</th>
                    </tr>
                </thead>
                <tbody>
                    <% munRecords.forEach(function(record) { %>
                        <tr>
                            <td>
                                <%= record.ID_Mun %>
                            </td>
                            <td>
                                <%= record.Nombre_Mun %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <script>
                new DataTable('#Municipio', {
                    pagingType: 'full_numbers'
                });
            </script>
        </div>
    </div>
    <footer>
        <p>EURM &copy; 2023</p>
    </footer>
</body>

</html>